In [18]:
import pandas as pd

In [19]:
import sklearn
from sklearn import datasets

In [20]:
iris = pd.read_csv('Iris.csv')

In [21]:
# Melihat informasi dataset
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [22]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [23]:
iris.drop('Id',axis=1,inplace=True)

In [8]:
iris.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [24]:
# memisahkan atribut dan label
X = iris[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm' ]]
y = iris['Species']
 
# Membagi dataset menjadi data latih & data uji
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=123)

In [25]:
from sklearn.tree import DecisionTreeClassifier

# membuat model Decision Tree
tree_model = DecisionTreeClassifier() 
 
# Melatih model dengan menggunakan data latih
tree_model = tree_model.fit(X_train, y_train)

In [26]:
# Evaluasi Model
from sklearn.metrics import accuracy_score
     
y_pred = tree_model.predict(X_test)
     
acc_secore = round(accuracy_score(y_pred, y_test), 3)
     
print('Accuracy: ', acc_secore)

Accuracy:  0.933

In [27]:
# prediksi model dengan tree_model.predict([[SepalLength, SepalWidth, PetalLength, PetalWidth]])
print(tree_model.predict([[6.2, 3.4, 5.4, 2.3]])[0])

Iris-virginica

In [13]:
#melihat visualisasi dari decision tree 

    from sklearn.tree import export_graphviz
    export_graphviz(
        tree_model,
        out_file = "iris_tree.dot",
        feature_names = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'],
        class_names = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica' ],
        rounded= True,
        filled =True)

#utk melihat hasilnya we convert .dot -> .png  https://onlineconvertfree.com/converter/images/.

## **Save model with Pickle - Method No 1**

**save model**

In [1]:
import pickle

with open('iris_pred_model','wb') as f:
    pickle.dump(tree_model,f)

**load model**

In [14]:
import pickle

with open('iris_pred_model','rb') as f:
    model = pickle.load(f)

In [17]:
print(model.predict([[6.2, 3.4, 5.4, 2.3]])[0])

Iris-virginica

## **Save model with Joblib - Method No 2**

**save model**

In [29]:
import joblib

joblib.dump(tree_model,"iris_pred_model_1.pkl")

['iris_pred_model_1.pkl']

**load model**

In [31]:
model_1 = joblib.load('iris_pred_model_1.pkl')

In [32]:
print(model_1.predict([[6.2, 3.4, 5.4, 2.3]])[0])

Iris-virginica