In [129]:
    import pandas as pd
     
    df = pd.read_csv('diabetes.csv')

In [130]:
    df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

Hal paling penting selanjutnya adalah kita perlu mengecek apakah terdapat nilai-nilai yang hilang pada dataset serta apakah ada atribut yang bukan berisi bilangan numerik. Kita bisa melakukan ini dengan memanggil fungsi .info() pada dataframe.

In [11]:
    df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

menunjukkan bahwa semua atribut nilainya lengkap, dan juga nilai-nilai dari tiap kolom memiliki tipe data numerik yaitu int64 dan float64.

Pada tahap ini data sudah bisa dipakai untuk pelatihan model.

Kita lalu memisahkan antara atribut dan label pada dataframe. Untuk memisahkan kolom-kolom pada dataframe kamu bisa melihat dokumentasinya pada tautan ini.

In [131]:
    # memisahkan atribut pada dataset dan menyimpannya pada sebuah variabel
    X = df[df.columns[:8]]
     
    # memisahkan label pada dataset dan menyimpannya pada sebuah variabel
    y = df['Outcome']

Jika kita lihat, nilai-nilai pada dataset memiliki skala yang berbeda. Contohnya pada kolom Glucose dan kolom Diabetes Pedigree Function. Kita perlu mengubah nilai-nilai dari setiap atribut berada pada skala yang sama. Kita dapat mencoba menggunakan standarisasi dengan fungsi StandardScaler() dari SKLearn.

In [132]:
    from sklearn.preprocessing import StandardScaler
     
    # standarisasi nilai-nilai dari dataset
    scaler = StandardScaler()
    scaler.fit(X)
    X = scaler.transform(X)

In [133]:
    from sklearn.model_selection import train_test_split
     
    # memisahkan data untuk training dan testing
    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.33, random_state=42)

In [134]:
    from sklearn.svm import SVC
     
    # membuat objek SVC dan memanggil fungsi fit untuk melatih model
    clf = SVC()
    clf.fit(X_train, y_train)
    
    # Menampilkan skor akurasi prediksi
    clf.score(X_test, y_test)

0.7559055118110236

**Test prediction**

In [154]:
print(clf.predict([X_test[100]])[0])

1

In [172]:
df[4:6]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0

In [178]:
t1 = [[ 0,137,40,35,168,43.1,2.288,33]]
t0 = [[ 5,116,74,0,0,25.6,0.201,30]]

print(clf.predict(scaler.transform(t1)))

[1]

In [144]:
X_test[150]

array([-0.84488505,  1.34907812,  0.66661825,  1.40909441, -0.11113655,
        0.10247738, -0.39526196,  1.4259954 ])

In [152]:
#  scaler inverse

X_inverse = scaler.inverse_transform(X_test[100])
X_inverse

array([  1.   , 164.   ,  82.   ,  43.   ,  67.   ,  32.8  ,   0.341,
        50.   ])